<ion-view title="Configurações" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="configuraEs-form3" class="list">
      <label class="item item-select" id="configuraEs-select1">
        <span class="input-label">Idioma</span>
        <select ng-model="data.idiom" ng-options="idiom.id as idiom.label for idiom in idiomas"></select>
      </label>
    </form>
  </ion-content>
</ion-view>