<ion-view title="Login" id="page4">
  <ion-content padding="true" scroll="false" class="has-header">
    <form id="login-form1" class="list">
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input1">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="menu.letSGo()" id="login-button1" class="button button-balanced button-block">Log in</a>
    </form>
    <div id="login-button-bar1" class="button-bar reduzbotao centraliza">
      <button id="login-button9" class="button button-positive button-block icon ion-social-facebook"></button>
      <button id="login-button10" class="button button-assertive button-block icon ion-social-google"></button>
    </div>
    <a ui-sref="signup()" id="login-button2" class="button button-positive button-block button-clear">Or create an account</a>
  </ion-content>
</ion-view>