<ion-view title="Signup" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="signup-form2" class="list">
      <ion-list id="signup-list3">
        <label class="item item-input" id="signup-input3">
          <input type="text" placeholder="Nome">
        </label>
        <label class="item item-input" id="signup-input4">
          <input type="email" placeholder="Email">
        </label>
        <label class="item item-input" id="signup-input5">
          <input type="text" placeholder="Senha">
        </label>
        <label class="item item-input" id="signup-input6">
          <input type="text" placeholder="Confirme sua senha">
        </label>
        <label class="item item-input" id="signup-input7">
          <input type="text" placeholder="Celular com DDD">
        </label>
      </ion-list>
      <a ui-sref="menu.letSGo()" id="signup-button3" class="button button-balanced button-block">Sign up</a>
    </form>
  </ion-content>
</ion-view>