<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-stable">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <div class="list card" id="menu-card21">
        <ion-item class="item-avatar" id="menu-list-item6">
          <img src="img/b5DRlB6SU2Beug1OOvtA_10497462_10201985442312034_8536384917855490124_o.jpg">
          <h2>Raphael Pereira</h2>
        </ion-item>
      </div>
      <ion-list id="menu-list1">
        <ion-item id="menu-list-item30" ui-sref="menu.letSGo()" menu-close="">Início</ion-item>
        <ion-item id="menu-list-item1" ui-sref="menu.perfil()" menu-close="">Meu Perfil</ion-item>
        <ion-item id="menu-list-item2" ui-sref="menu.corridas()" menu-close="">Minhas Corridas</ion-item>
        <ion-item id="menu-list-item3" ui-sref="menu.suporte()" menu-close="">Support</ion-item>
        <ion-item id="menu-list-item8" ui-sref="menu.configuraEs()" menu-close="">Configurações</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>