<ion-view title="Perfil" id="page6">
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <div class="list card manual-card-fullwidth" id="perfil-card23">
      <ion-item class="item-avatar" id="perfil-list-item16">
        <img src="img/HLzDkAfAS3GEpjErIyUZ_10497462_10201985442312034_8536384917855490124_o.jpg">
        <h2>Raphael Pereira</h2>
      </ion-item>
      <ion-item class="item-icon-left" id="perfil-list-item24">
        <i class="icon ion-android-mail"></i>rapha95.sp@gmail.com</ion-item>
      <ion-item class="item-icon-left" id="perfil-list-item25">
        <i class="icon ion-ios-telephone"></i>11986266183</ion-item>
    </div>
  </ion-content>
</ion-view>