$ionicons-font-path: "../lib/ionic/fonts" !default;
@import "../www/lib/ionic/scss";
.reduzbotao {
	width: 50%;
}

.centraliza {
	margin-left: auto;
	margin-right: auto;
}

.fixar {
	position: absolute;
	z-index: 1;
}

.origemSize {
	width: 90%;
	size: inline;
}

.addStop {
	width: 10%;
	right: 0;
	size: inline;
	position: absolute;
	z-index: 1;
	top: 0;
}

.column1 {
	height: 10vh;
}

