<ion-view title="Corridas" id="page7">
  <ion-content padding="false" class="has-header">
    <div class="list card" id="corridas-card24">
      <ion-item class="item-avatar" id="corridas-list-item28">
        <h2>Motorista X</h2>
      </ion-item>
      <div class=" item item-image">
        <img src="img/CprBXd4bRCoVJcDLU6th_route.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="corridas-list-item-container6">
        <div id="corridas-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">R$ 20,00 em 13/08/2018</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>