<ion-view title="Suporte" id="page8">
  <ion-content padding="true" class="has-header">
    <ion-list id="suporte-list6">
      <ion-item id="suporte-list-item34">Como alterar minha senha?</ion-item>
      <ion-item id="suporte-list-item35">Como alterar meu login?</ion-item>
      <ion-item id="suporte-list-item36">Problemas na corrida</ion-item>
    </ion-list>
  </ion-content>
</ion-view>